<div class="link-grid">
    <div class="link-grid-container">
        <object class="link-grid-image" data="/images/临时邮箱/banner.png"></object>
        <p>临时邮箱</p>
        <p>完全基于 CloudFlare 实现的临时邮箱，所有服务和数据均在 CloudFlare 中</p>
        <a target="_blank" href="https://email-once.com/"></a>
    </div>
    
    <div class="link-grid-container">
        <object class="link-grid-image"
            data="/images/devtool/unnamed.png"></object>
        <p>开发工具箱</p>
        <p>开发者的便利工具</p>
        <a target="_blank" href="https://devtool.club/"></a>
    </div>
</div>